.arctxt {
    display: relative;
    width:100%;
    height:auto;
}

.arctxt > span {
    text-align: center;
    position: absolute;
}

.custom {
    font-family: 'Metal Mania', cursive;
    font-size: 8px; 
}

/* .fontsize {
    font-size: 25px;
    background-color: gainsboro;
    margin: 0;
    padding: 0;
    width: fit-content;
} */